docs/site/

# OSX Junk
.DS_Store

# test cache
.cache/*
tests/__pycache__/*
*.pytest_cache/

# Mac OS-specific storage files
.DS_Store

# DotEnv configuration
.env

# Pycharm
.idea

# VS Code
.vscode/